@import url("//hello.myfonts.net/count/2e224d");
@import url("//hello.myfonts.net/count/2e224c");
@font-face {font-family: 'electra';src: url('fonts/2E224D_0_0.eot');src: url('fonts/2E224D_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2E224D_0_0.woff2') format('woff2'),url('fonts/2E224D_0_0.woff') format('woff'),url('fonts/2E224D_0_0.ttf') format('truetype');}
@font-face {font-family: 'venus';src: url('fonts/2E224C_0_0.eot');src: url('fonts/2E224C_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2E224C_0_0.woff2') format('woff2'),url('fonts/2E224C_0_0.woff') format('woff'),url('fonts/2E224C_0_0.ttf') format('truetype');}

@font-face {
  font-family: 'ElectraLTStd-Display';
  src: url('fonts/ElectraLTStd-Display.eot?#iefix') format('embedded-opentype'),
       url('fonts/ElectraLTStd-Display.otf') format('opentype'),
       url('fonts/ElectraLTStd-Display.woff') format('woff'),
       url('fonts/ElectraLTStd-Display.ttf') format('truetype'),
       url('fonts/ElectraLTStd-Display.svg#ElectraLTStd-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
