//
// Home
//

.home {
  .header {
    opacity: 0;
    transition: opacity $tt;

    .scrolled-halfway & {
      opacity: 1;
    }
  }

  .footer {
    margin-top: 0;
  }
}

.home-page__name {
  margin-right: 9px;
}

.home__down-arrow {
  position: absolute;
  top: calc(100% - 200px);
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: opacity 0.4s;

  &.active {
    opacity: 0;
  }

  @include break(hand) {
    top: calc(100% - 110px);
  }
}

.home-carousel {
  margin-bottom: 84px;
  background-color: $gray;

  &.home-carousel-slide-count-1 {
    background-color: transparent;
  }

  &:hover {
    .flickity-prev-next-button {
      opacity: 1;
    }
  }

  .flickity-prev-next-button {
    opacity: 0;
    background: transparent;
    transition: opacity 0.4s;

    &:hover {
      background: transparent;

      .arrow {
        fill: #333;
      }
    }

    .arrow {
      transition: fill 0.2s;
      fill: #fff;
    }
  }

  .flickity-page-dots {
    bottom: -61px !important;
  }

  .dot {
    width: 18px !important;
    height: 18px !important;
    margin: 12px 10px !important;
    opacity: 1 !important;
    background: transparent !important;
    border: 3px solid #fff;

    &.is-selected {
      background: #fff !important;
    }
  }

  video {
    width: 100%;
  }

  .flickity-slider {
    transform: none !important;
  }

  .home-carousel__slide {
    padding: 100px 70px;
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .home-carousel__slide.is-selected {
    opacity: 1;
  }

  @include break(hand) {
    margin-top: 50px;
  }
}

.home-carousel__slide {
  width: 100%;

  img,
  video {
    max-height: 300px;

    @media (min-height: 500px) {
      max-height: 300px;
    }

    @media (min-height: 600px) {
      max-height: 400px;
    }

    @media (min-height: 700px) {
      max-height: 500px;
    }

    @media (min-height: 850px) {
      max-height: 600px;
    }

    @media (min-height: 1000px) {
      max-height: 700px;
    }
  }
}

.home-carousel-slide-count-1 {
  margin-bottom: 60px;

  .home-carousel__slide {
    opacity: 1;
    padding: 0;
  }
}

.home-carousel__description,
.home-carousel__project_link {
  margin-bottom: 20px;
}

.home-carousel__description {
  strong {
    @include huge-sans;
  }
}

.home-carousel__slide__link-area {
  margin-top: 60px;

  .big-button {
    width: 50%;
    max-width: 275px;
    margin: 0 20px 20px;
  }
}

.home-carousel__additional-info {
  font-style: italic;
}
