//
// Home
//

.home {
  .header {
    opacity: 0;
    transition: opacity $tt;

    .scrolled-halfway & {
      opacity: 1;
    }
  }

  .footer {
    margin-top: 0;
  }
}

.home-page__name {
  margin-right: 15px;
}

.home__down-arrow {
  position: absolute;
  top: calc(100% - 200px);
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

.home-carousel {
  margin-bottom: 104px;

  .flickity-page-dots {
    bottom: -61px !important;
  }

  .dot {
    width: 18px !important;
    height: 18px !important;
    margin: 12px 10px !important;
    opacity: 1 !important;
    background: transparent !important;
    border: 3px solid #fff;

    &.is-selected {
      background: #fff !important;
    }
  }

  video {
    width: 100%;
  }

  .flickity-slider {
    transform: none !important;
  }

  .home-carousel__slide {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .home-carousel__slide.is-selected {
    opacity: 1;
  }

  @include break(hand) {
    margin-top: 50px;
  }
}

.home-carousel__slide {
  width: 100%;
}

.home-carousel__slide-info {
  display: none;

  &:first-child {
    display: block;
  }
}

.home-carousel__description {
  strong {
    @include huge-sans;
  }
}

.home-carousel__project_link {
  margin-bottom: 45px;
}
