//
// Main
//

.regular {
  @extend %ibnorm;
}

.small-sans {
  font-family: $sans;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.6px;
}

.small-serif {
  font-family: $serif;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin medium-serif {
  font-family: $serif;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0;

  p {
    margin-bottom: 1em;
  }
}
.medium-serif { @include medium-serif; }

@mixin medium-sans {
  font-family: $sans;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}
.medium-sans { @include medium-sans; }

@mixin medium-sans-caps {
  font-family: $sans;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.medium-sans-caps { @include medium-sans-caps; }

.small-title {
  @include medium-sans-caps;
  margin-bottom: 20px;
}

@mixin large-sans {
  font-family: $sans;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.6px;
}
.large-sans { @include large-sans; }

@mixin large-serif {
  font-family: $serif;
  font-size: 49px;
  line-height: 1.3;
  letter-spacing: 0;

  p {
    margin-bottom: 1em;
  }
}
.large-serif { @include large-serif; }

@mixin huge-sans {
  font-family: $sans;
  font-size: 45px;
  line-height: 1.4;
}
.huge-sans { @include huge-sans; }

@mixin huge-serif {
  font-family: $serif;
  font-size: 65px;
  line-height: 1.1;
  letter-spacing: 0;

  p {
    margin-bottom: 1em;
  }

  @include break(hand) {
    font-size: 38px;
  }
}
.huge-serif { @include huge-serif; }

@mixin xhuge-serif {
  @include huge-serif;
  font-size: 120px;

  @include break(hand) {
    font-size: 65px;
  }
}
.xhuge-serif { @include xhuge-serif; }

// Columns

.row {
  @extend %ibfix;
  margin: 0 -20px;
}

.col-3 {
  width: 33.33%;
  display: inline-block;
  padding: 0 20px;

  @include break(hand) {
    width: 100%;
    margin-bottom: 60px;
  }
}

// Layout

html {
  font-family: $sans;
  height: 100%;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga' 0;

  @include break(hand) {
    text-rendering: auto;
  }
}

body {
  min-height: 100%;
}

.on-top-fix {
  position: relative;
  z-index: 1;
}

.site-max-width {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  // max-width: 1180px;
  margin: 0 auto;
  padding: 60px;

  @include break(hand) {
    padding: 20px;
  }
}

.content-item {
  margin-bottom: 2em;
}

.wrapper-offset {
  margin-left: -60px;
  margin-right: -60px;
}

.landing-wrapper {
  min-height: 100vh;
  position: relative;
}

.no-landing-wrapper {
  margin-bottom: 100px;
}

.landing-text {
  text-align: left;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin-top: -60px;

  a {
    border-bottom: 1px solid;
    line-height: 0.8;
    display: inline-block;
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include break(hand) {
    position: static;
    transform: none;
  }
}

.content {
  // padding-bottom: 160px;
  position: relative;
}

.entry-content {
  @extend %ibnorm;
  max-width: 750px;
  margin: 0 auto 40px;
}

.entry-content--left {
  margin: 0;
}

.entry-content-after-embed {
  padding-bottom: 0;
}

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.big-button {
  @include medium-sans;
  transition: all $tt;
  padding: 26px 26px 21px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 10px 0 #fff;
  border-radius: 19px;
  line-height: 1;
  display: inline-block;
  font-weight: bold;
}

.embed-wrapper {
  @extend %box-shadow;
  padding-top: 80px;
  padding-bottom: 76px;
}

iframe {
  max-width: 100%;
}

.sidebar,
.page-entry-content {
  @extend %ibnorm;
  text-align: left;
  display: inline-block;
}

.sidebar {
  width: 35%;
  padding-right: 180px;

  @include break(tab) {
    padding-right: 40px;
  }
}

.page-entry-content {
  width: 65%;
}

.small-width {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.medium-width {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.small-width--left {
  margin-left: 0;
  margin-right: 0;
}

//
// Typography
//

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
}

.entry-content,
.page-entry-content {
  @include large-sans;
}

.sidebar {
  @include large-sans;
}

.entry-title {
  @include huge-serif;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

//
// UI
//

a {
  color: #fff;
  text-decoration: none;
  transition: color $tt;
}

.entry-content a,
.sidebar a {
  border-bottom: 1px solid;

  // &:hover {
  //   border-bottom: 0;
  // }
}

//
// Header
//

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 60px;

  .home & {
    position: absolute;
    top: calc(100% - 80px);
  }

  .header-is-fixed & {
    position: fixed;
    top: 0;
  }

  @include break(hand) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__description {
  padding: 33.33vmin 0;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  transition: opacity 2s;

  .night & {
    opacity: 0;
  }
}

.moon {
  filter: drop-shadow( 0px 0px 60px rgba(255, 255, 255, 1) ) blur(2px);
  transition: all $tt-long;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 60vmax;
  height: 100vh;
  max-width: 80vw;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
  transform: translate3d(0, 0, 0);

  &:hover {
    filter: drop-shadow( 0px 0px 20px rgba(185, 185, 185, 1) );
  }

  svg {
    width: 100%;
    height: auto;
    max-height: 90%;
  }

  @include break(hand) {
    right: 10px;
  }
}

.moon:not(.night-moon-clone) {
  opacity: 0.3;
}

.night-moon-clone {
  svg {
    path {
      fill: #fff;
    }
  }
}

//
// Night
//

.night-transition,
.night {
  .night-moon-clone {
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.7));
    opacity: 0.6;
  }
}

.night-moon-clone {
  z-index: 12;
  opacity: 0;
  position: fixed;
}

.night {
  overflow: hidden;
}

.moon-page {
  @extend .large-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: opacity 2s;

  a {
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 0;
    }
  }

  .blockquote {
    @include huge-serif;
    max-width: 700px;
    margin: 100px auto;
    position: relative;
    text-align: center;

    @include break(hand) {
      width: 100%;
    }
  }

  .time-and-date {
    margin-bottom: 1em;
  }

  .screensaver-clock,
  .screensaver-date {
    opacity: 1;
    position: static;
    display: inline-block;
  }

  .entry-content,
  .small-width {
    margin-left: 0;
    margin-right: 0;
  }
}

.moon-page-content {
  padding-top: 60px;
  text-align: left;
  color: #fff;

  .home & {
    padding-top: 60px;
  }

  a {
    color: #fff !important;
  }
}

.night-content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.night-cover {
  display: none;
  opacity: 0;
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 2s;
  overflow: hidden;

  .night & {
    opacity: 1;
    z-index: 11;
  }

  .night-transition & {
    z-index: 11;
  }
}

.star-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.star {
  opacity: 0;
  position: absolute;
  background: #fff;
  width: 1px;
  height: 1px;
  z-index: 2;
  transition: opacity $tt-long;

  &.active {
    opacity: 1;
  }
}

.screensaver {
  header {
    h1,
    h2 {
      opacity: 0;
    }
  }

  .screensaver-date,
  .screensaver-clock {
    opacity: 1;
  }
}

.screensaver,
.screensaver-transition {
  .moon-page {
    display: none;
  }
}

.screensaver-date,
.screensaver-clock {
  opacity: 0;
  position: fixed;
  transition: opacity 2s;
  bottom: 20px;
}

.screensaver-clock {
  left: 30px;
}

.screensaver-date {
  right: 30px;
}

//
// Project thumbnails
//

.project-thumbnail-wrapper {
  @extend %ibfix;
  text-align: left;
}

$project-thumbnail-margin: 3%;
$project-thumbnail-size: (100%/3) - ($project-thumbnail-margin/1.5);

.project-thumbnail {
  @extend %box-shadow;
  @extend %hardware_acceleration;
  overflow: hidden;
  position: relative;
  height: 0;
  width: $project-thumbnail-size;
  padding-bottom: $project-thumbnail-size;
  display: inline-block;
  margin-bottom: $project-thumbnail-margin * 2;

  &:nth-child(3n + 1) { margin-right: $project-thumbnail-margin; }
  &:nth-child(3n + 2) { margin-right: $project-thumbnail-margin; }

  &:hover {
    .cover {
      opacity: 0.9;
    }
  }

  &.full-width {
    .project-thumbnail-image {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.project-thumbnail-content {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.project-thumbnail-image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity $tt;
  overflow: hidden;

  img {
    max-width: calc(100% + 2px);
  }
}

.cover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity $tt;
  transform: translate3d(0, 0, 0);
}

//
// Survey
//

.survey-title {
  margin-top: 60px;
}

.survey {
  @extend %box-shadow;
  @extend .large-serif;
  position: relative;
  color: #000;
  margin-top: 30px;
  min-height: 500px;
  padding: 40px;
}

.survey-item {
  display: none;
  margin-top: 120px;

  &.active {
    display: block;
  }

  .answer {
    margin-top: 60px;
  }
}

.new-question {
  @extend .small-sans;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.page-template-default {
  text-align: left;
}
