//
// Main
//

// Layout

html {
  font-family: $sans;
  height: 100%;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;

  @include break(hand) {
    text-rendering: auto;
  }
}

body {
  min-height: 100%;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 80px 40px;
}

.content {
  padding-bottom: 160px;
}

.entry-content {
  @extend %ibnorm;
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.sidebar,
.page-entry-content {
  @extend %ibnorm;
  text-align: left;
  display: inline-block;
}

.sidebar {
  width: 35%;
  padding-right: 180px;

  @include break(tab) {
    padding-right: 40px;
  }
}

.page-entry-content {
  width: 65%;
}

.small-width {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

//
// Typography
//

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
}

.entry-content,
.page-entry-content {
  @extend .medium-serif;
}

.sidebar {
  @extend .small-serif;
}

.entry-title {
  @extend .large-serif;
  margin-bottom: 1em;
}

p {
  margin-top: 0.2em;
  margin-bottom: 1.4em;
}

.regular {
  @extend %ibnorm;
}

.small-sans {
  font-family: $sans;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

.small-serif {
  font-family: $serif;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0;
}

.medium-serif {
  font-family: $serif;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0;

  p {
    margin-bottom: 1em;
  }
}

.large-sans {
  font-family: $sans;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.6px;
}

.large-serif {
  font-family: $serif;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0;

  p {
    margin-bottom: 1em;
  }
}

//
// UI
//

a {
  color: #fff;
  text-decoration: none;
  transition: color $tt;
}

.entry-content a,
.sidebar a {
  border-bottom: 1px solid;
}

//
// Header
//

header {
  padding-bottom: 80px;
  z-index: 2;
  position: relative;

  h1,
  h2 {
    transition: opacity 2s;
  }
}

.moon {
  margin-top: -22px;
  padding-bottom: 22px;
  filter: drop-shadow( 0px 0px 20px rgba(255, 255, 255, 0.9) );
  transition: filter $tt-long;

  &:hover {
    filter: drop-shadow( 0px 0px 20px rgba(185, 185, 185, 1) );
  }

  .home & {
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 0;

    svg {
      height: 140px;
    }
  }

  svg {
    height: 70px;
    cursor: pointer;
  }
}

//
// Night
//

.moon-page {
  @extend .large-serif;
  transition: opacity 2s;

  .time-and-date {
    margin-bottom: 1em;
  }

  .screensaver-clock,
  .screensaver-date {
    opacity: 1;
    position: static;
    display: inline-block;
  }
}

.moon-page-content {
  padding-top: 160px;
  text-align: left;

  .home & {
    padding-top: 330px;
  }
}

.night-cover {
  opacity: 0;
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 2s;
  overflow: hidden;

  .night & {
    opacity: 1;
    z-index: 2;
  }

  .night-transition & {
    z-index: 2;
  }
}

.star-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.star {
  opacity: 0;
  position: absolute;
  background: #fff;
  width: 1px;
  height: 1px;
  z-index: 2;
  transition: opacity $tt-long;

  &.active {
    opacity: 1;
  }
}

.screensaver {
  header {
    h1,
    h2 {
      opacity: 0;
    }
  }

  .screensaver-date,
  .screensaver-clock {
    opacity: 1;
  }
}

.screensaver,
.screensaver-transition {
  .moon-page {
    display: none;
  }
}

.screensaver-date,
.screensaver-clock {
  opacity: 0;
  position: fixed;
  transition: opacity 2s;
  bottom: 20px;
}

.screensaver-clock {
  left: 30px;
}

.screensaver-date {
  right: 30px;
}

//
// Project thumbnails
//

.project-thumbnail-wrapper {
  @extend %ibfix;
  text-align: left;
}

$project-thumbnail-margin: 3%;
$project-thumbnail-size: (100%/3) - ($project-thumbnail-margin/1.5);

.project-thumbnail {
  @extend %box-shadow;
  @extend %hardware_acceleration;
  overflow: hidden;
  position: relative;
  height: 0;
  width: $project-thumbnail-size;
  padding-bottom: $project-thumbnail-size;
  display: inline-block;
  margin-bottom: $project-thumbnail-margin * 2;

  &:nth-child(3n + 1) { margin-right: $project-thumbnail-margin; }
  &:nth-child(3n + 2) { margin-right: $project-thumbnail-margin; }

  &:hover {
    .cover {
      opacity: 0.9;
    }
  }

  &.full-width {
    .project-thumbnail-image {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.project-thumbnail-content {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.project-thumbnail-image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity $tt;
}

.cover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity $tt;
}

//
// Project images
//

.project-image-outer {
  margin-bottom: 40px;
  position: relative;

  &.project-with-pin {
    margin-bottom: 130px;
  }
}

.project-image-content {
  @extend %box-shadow;
  padding: 40px;
}

//
// Pins
//

.pin-wrapper {
  position: absolute;
  right: -20px;
  bottom: -90px;
  z-index: 1;
}

.pin {
  @extend .small-sans;
  @extend %box-shadow;
  position: relative;
  height: 0;
  width: 140px;
  padding-bottom: 140px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 1;
  display: inline-block;
  margin-left: 20px;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  &,
  a {
    color: #000;
  }

  .pin-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

a.pin:hover {
  color: #000;
  transform: translate(0, -20px);
}

//
// Single
//

.adjacent-post-wrapper {
  height: 100px;
}

.previous-post-link,
.next-post-link {
  a {
    display: inline-block;

    &:hover {
      color: #fff;

      .hidden-title {
        opacity: 1;
      }
    }
  }
}

.previous-post-link {
   text-align: left;
}

.next-post-link {
  text-align: right;
}

.hidden-title {
  @extend .medium-serif;
  opacity: 0;
  transition: opacity $tt;
}

//
// Survey
//

.survey-title {
  margin-top: 60px;
}

.survey {
  @extend %box-shadow;
  @extend .large-serif;
  position: relative;
  color: #000;
  margin-top: 30px;
  min-height: 500px;
  padding: 40px;
}

.survey-item {
  display: none;
  margin-top: 120px;

  &.active {
    display: block;
  }

  .answer {
    margin-top: 60px;
  }
}

.new-question {
  @extend .small-sans;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
